body {
    background-color: #D6CADD;
    font-family: sans-serif;
    margin-left: 40px;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.head {
    float: right;
    margin-right: 40px;
    margin-left: 40px;
}

.text-block {
    margin-right: 100px;
}

.caption {
    text-align: center;
    margin-top: 0px;
}

p {
    line-height: 1.4;
}