body {
    background-image: linear-gradient(to bottom, rgba(163, 87, 214, 1), rgba(255, 255, 255, 0));
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Garamond, Times, serif;
    font-size: 25px; 
    margin-left: 40px;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 0px;
}

.head {
    float: right;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 0px;
}

.headshot {
    max-width: 350px;
    height: auto;
    border-radius: 3%;
}

.text-block {
    margin-right: 100px;
}

.caption {
    text-align: center;
    margin-top: 0px;
}

p {
    line-height: 1.4;
}

a:link {
    color: #0076B6;
    text-decoration: none;
}

a:visited {
    color: #0076B6;
}

a:hover {
    text-decoration: underline;
}