body {
    background-color: #CCA1E8;
    font-family: Garamond, sans-serif;
    font-size: 23px; 
    margin-left: 40px;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-top: 0px;
}

.head {
    float: right;
    margin-right: 40px;
    margin-left: 40px;
}

.headshot {
    max-width: 350px;
    height: auto;
}

.text-block {
    margin-right: 100px;
}

.caption {
    text-align: center;
    margin-top: 0px;
}

p {
    line-height: 1.4;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: #404040;
}

a:hover {
    text-decoration: underline;
}