body {
    background-color: #e1d7c6;
    font-family: sans-serif;
}

.title {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.subhead {
    text-align: center;
}

.head {
    float: left;
    margin-right: 40px;
    margin-left: 40px;
}